head
    title Watson Chatbot
    link(href='../css/grid.css', rel='stylesheet')
    link(href='../css/main.css', rel='stylesheet')
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")

